/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600;800&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}

.vertical-align {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
:root {
  ion-img {
    min-height: 1px !important;
  }
}

.search-modal, .network-modal {
  .modal-wrapper {
    height: 40%;
    overflow: scroll;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    bottom: 0;
    position: absolute;
  }
}


.fire-bg {
  --background: var(--ion-color-fire);
  background: var(--ion-color-fire);
}

.grass-bg {
  --background: var(--ion-color-grass);
  background: var(--ion-color-grass);
}
.electric-bg {
  --background: var(--ion-color-electric);
  background: var(--ion-color-electric);
}
.water-bg {
  --background: var(--ion-color-water);
  background: var(--ion-color-water);
}
.ground-bg {
  --background: var(--ion-color-ground);
  background: var(--ion-color-ground);
}
.rock-bg {
  --background: var(--ion-color-rock);
  background: var(--ion-color-rock);
}
.fairy-bg {
  --background: var(--ion-color-fairy);
  background: var(--ion-color-fairy);
}
.poison-bg {
  --background: var(--ion-color-poison);
  background: var(--ion-color-poison);
}
.bug-bg {
  --background: var(--ion-color-bug);
  background: var(--ion-color-bug);
}
.dragon-bg {
  --background: var(--ion-color-dragon);
  background: var(--ion-color-dragon);
}
.psychic-bg {
  --background: var(--ion-color-psychic);
  background: var(--ion-color-psychic);
}
.flying-bg {
  --background: var(--ion-color-flying);
  background: var(--ion-color-flying);
}
.fighting-bg {
  --background: var(--ion-color-fighting);
  background: var(--ion-color-fighting);
}
.normal-bg {
  --background: var(--ion-color-normal);
  background: var(--ion-color-normal);
}
.steel-bg {
  --background: var(--ion-color-steel);
  background: var(--ion-color-steel);
}
.ice-bg {
  --background: var(--ion-color-ice);
  background: var(--ion-color-ice);
}
.dark-bg {
  --background: var(--ion-color-darkpoke);
  background: var(--ion-color-darkpoke);
}
.ghost-bg {
  --background: var(--ion-color-ghost);
  background: var(--ion-color-ghost);
}
