ion-header {
  ion-toolbar {
    ion-icon {
      font-size: 21px;
    }
  }

}

ion-content {
  .type_img {
    width: 25px;
  }
  .details_section {
    .details_card {
      box-shadow: none;
      ion-card-header {
        ion-card-title {
          font-weight: 600;
          text-transform: capitalize;
        }
        ion-img {
          margin-left:4px;
          width: 20px;
        }
      }
      ion-card-content {
        .stat_list {
          padding: 0;
          .stat {
            text-transform: capitalize;
            font-weight: 500;
            margin-right: 0;
          }
          .value {
            font-weight: 600;
          }
        }

      }
      .details_card_content {
        .description_text {
          font-weight: 600;
          padding: 6px;

        }
        ion-card-subtitle {
          font-weight: 700;

          font-size: 16px;
        }
        ion-icon {
          font-size: 32px;
        }
        .evolve_section {
          border-top: 2px solid var(--ion-color-light);
          ion-title {
            font-weight: 700;
            text-decoration: underline;
            padding: 0;
          }
          ion-img {
            height: 100px;
          }
        }
      }
      ion-segment {
        --background: var(--ion-color-light);
        ion-segment-button {
          --color: var(--ion-color-secondary);
          --color-checked: var(--ion-color-light);
          --background-checked: var(--ion-color-primary);
          --indicator-color: var(--ion-color-dark)
        }
      }
    }
  }

  .abilities_card {
    box-shadow: none;
    ion-card-header {
      ion-card-title {
        font-weight: 700;
      }
    }
    ion-card-content {
      padding: 0;
      ion-note {
        font-size: 13px;
        font-weight: 600;
        font-style: italic;
      }
    }
  }
  .moves_card {
    box-shadow: none;
    ion-card-header {
      ion-card-title {
        font-weight: 700;
      }
    }
    ion-card-content {
      padding: 0;
      ion-note {
        font-size: 13px;
        font-weight: 600;
        font-style: italic;
      }
      .stat_list {
        padding: 0;
        .stat {
          text-transform: capitalize;
          font-weight: 500;
          margin-right: 0;
        }
        .value {
          font-weight: 600;
        }
      }
    }
  }
}


