ion-header {
  ion-toolbar {
    ion-icon {
      font-size: 21px;
    }
  }

}

ion-content {
  .details_section {
    .details_card {
      box-shadow: none;
      ion-card-header {
        ion-card-title {
          font-weight: 600;
          text-transform: capitalize;
        }
      }
      ion-card-content {
        .stat_list {
          .stat {
            text-transform: capitalize;
            font-weight: 500;
            margin-right: 0;
          }
          .value {
            font-weight: 600;
          }
        }

      }
      .details_card_content {
        .description_text {
          font-weight: 600;
          padding: 6px;
          color: var(--ion-color-dark);
        }
        ion-card-subtitle {
          font-weight: 700;
          color: var(--ion-color-dark);
          font-size: 16px;
        }
        ion-icon {
          font-size: 32px;
        }
        .evolve_section {
          border-top: 2px solid var(--ion-color-light);
          ion-title {
            font-weight: 700;
            text-decoration: underline;
            padding: 0;
          }
          ion-img {
            height: 100px;
          }
        }
      }
      ion-segment {
        --background: var(--ion-color-light);
        ion-segment-button {
          --color: var(--ion-color-secondary);
          --color-checked: var(--ion-color-light);
          --background-checked: var(--ion-color-primary);
          --indicator-color: var(--ion-color-dark)
        }
      }
    }
  }
}


